.git
assets
bower_components
bundled
distributed
minified
node_modules
tests
transpiled

.gitignore
.travis.yml
babel.config.js
bower.json
gulpfile.babel.js
gulpfile.config.example
gulpfile.config.js
jasmine.json
karma.conf.js
